# Ignorer les fichiers générés par Flutter
/build/
/ios/Pods/
/pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# Ignorer les fichiers et répertoires de développement
.DS_Store
.vscode/
.idea/
*.iml

# Ignorer les fichiers de configuration utilisateur
*.log
*.tmp
*.swp
.packages
