<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtzThSL8W7vg9OEhXfPrKK77PxfaQ9Xn4</string>
	<key>GCM_SENDER_ID</key>
	<string>1053388144198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.productivityplus</string>
	<key>PROJECT_ID</key>
	<string>productivityplus-9470e</string>
	<key>STORAGE_BUCKET</key>
	<string>productivityplus-9470e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053388144198:ios:e3526fc3fb8c6c05f95447</string>
</dict>
</plist>